
.background{
    width: 100vw;
    height: 25vh;
    background-color: rgb(75, 75, 75);
    position: absolute;
    top: -10.5%;
    left: 0%;
    z-index: 1;
    border-radius: 50%;
}

.logo_login_s{
    width: 90px;
    height: 90px;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(0, 140, 255);
    border: 3px solid white;
    border-radius: 100%;

    background-image: url('../assets/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 3em;
    z-index: 10;
}

.title_sign{
    margin: .5em;
    margin-top: 3.5em;
    color: white;
    text-shadow: 4px 2px 3px rgba(255, 255, 255, 0.219);
    text-align: center;
    font-size: 2.3em;
    font-weight: bold;
}
.container_input{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;

}
.user, .pass{
    margin: .5em 0;
    font-size: 1.1em;
    padding: .4em;
    border-radius: 5px;
    border:none;
    border: 1px solid rgba(255, 255, 255, 0.329);
}
.btn_sign{
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: .5em 0;
    font-size: 1.1em;
    letter-spacing: 1px;
    border-radius: 40px;
    margin-top: 1em;
    background-color: rgb(2, 116, 209);
    color: white;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
}
.btn_sign:active{
    background-color: rgb(2, 139, 252);
}
.icon_menu{
    font-size: 1.7em;
}
ion-content.content_io{
    --background:rgb(19, 19, 19);
}
.link{
    position: relative;
    color:white;
    text-align: center;
    margin: 0;
    margin-top: 1.3em;
    z-index: 1000;
}

.my-custom-class{
    --width: 80%;
    --height: 30%;
    --border-radius: 5px;
    --border-color:rgba(136, 130, 130, 0.87);
    --border-width:1px;
    --border-style: solid;
}
.container_modal{
    background-color: rgb(77, 76, 76);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.title_modal{
    text-align: center;
    padding: 1em 1em 1em 1em;
    font-weight: bold;
    border-bottom: 2px solid white;
}
.msg_modal{
    text-align: center;
    padding: 0 1em;
}
.btn_close_modal{
    padding: 1em 0;
    border: none;
    background-color:rgb(2, 116, 209);
    color: white;
    font-weight: bold;
}